:root {

}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/*header/nav bar*/

header {
    padding: 20px 35px;
    background-color: rgba(91,141,149,0.5);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

.icons {
    display:flex;
    margin-left: 50%;
}

.icons a{
    display:block;
    margin-left:24px;
    font-size: 38px;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: #2a2a27;
}

header a {
    text-decoration: none;
    color:#2a2a27;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}
header nav ul li a:hover {
    background-color: #2a2a27;
    color: #5b8d95;
    border-radius: 15px;
    text-shadow:none;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px; 
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

/*about-me section*/    

.about-me {
    
    padding: 40px;

}

.section-title{
    font-size:40px;
    border-bottom: 3px solid #5b8d95;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 30%;
}

.about-me-text {
    line-height: 1.7;
    color:#2a2a27;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}

/*my work section*/
.my-work {
    padding: 100px;
}

.my-work-img {
    width:100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-title{
    text-align: center;
    font-size: 30px;
}

/* FOOTER STYLE*/

footer{
    background:rgba(91,141,149,0.5);
    padding:25px 35px;
    
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}




