:root {
    --primary-color: #2a2a27;
    --secondary-color: #5b8d95 ;

}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/*header/nav bar*/

header {
    padding: 20px 35px;
    background-color: rgba(91,141,149,0.5);
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

.icons {
    display:flex;
    margin-left: 50%;
}


.icons a{
    display:block;
    margin-left:24px;
    font-size: 38px;
}
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 2vw;
    color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}
header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow:none;
}
/* HERO SECTION STYLE */
.hero {
    background-image: url("../images/hero-background.png ");
    background-size: cover;
    background-position: center;
   
    background-size: 30%;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    margin-bottom: 25px; 
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

/*about-me section*/    

.about-me {
    height: 300px;
    padding: 40px;

}

.section-title{
    font-size:40px;
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 30%;
}

.about-me-text {
    line-height: 1.7;
    color:var(--primary-color);
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
   
}

/*my work section*/
.my-work {
    padding: 100px;
}

.my-work-img {
    width:100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work-title{
    text-align: center;
    font-size: 30px;
}

/* FOOTER STYLE*/

footer{
    background:rgba(91,141,149,0.5);
    padding:25px 35px;
    
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}
footer h2 {
    font-size: 17px;
}

/* IF SCREEN SIZE IS SMALLER THAN 980px */
@media screen and (max-width: 980px) {
    header {
        justify-content: center;
        padding-bottom: 0;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
        font-size: 4vw;
    }

    .icons {
        position: relative;
        width: 100%;
        right: 100px;
    }

    header nav ul li a {

        width: 100%;
        text-align: center;
        font-size: 2.5vw;
    }

    .hero {
        background-size:80% ;
    }
}
/* IF SCREEN SIZE IS SMALLER THAN 575px */
@media screen and (max-width: 575px) {

    header h1 {
        font-size: 30px;
    }
    header nav ul li a {
        font-size: 30px;
    }
}



